<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mochi dễ hưn >.<</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

  <header class="bg-black text-white p-3 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img src="https://i1.sndcdn.com/artworks-ym8AEsuyrB20dza8-3hlqSQ-t500x500.jpg" width="30" class="me-2">
      <nav>
        <a href="/product" class="nav-link text-white d-inline me-3">Sweet Mochi</a>
        <a href="#" class="nav-link text-white d-inline">Nama Mochi</a>
      </nav>
    </div>
    <img src="/img/logo.png" alt="Logo" style="height: 60px;">
    <div>
      <button class="btn btn-outline-light me-2">Discount</button>
      <button id="yt" class="btn btn-danger">▶</button>
      <button class="btn btn-outline-light ms-2">🛒</button>
    </div>
  </header>

  <section class="slider">
    <div><img src="/img/homepage_background_3.jpg" class="w-100"></div>
  </section>

  <script>
    let button = document.getElementById('yt');
    button.addEventListener('click', () => {
    window.open('https://www.youtube.com/watch?v=dQw4w9WgXcQ', '_blank'); 
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>
